<form class="pure-form pure-form-stacked" ng-submit="new()">
	<label for="title">Title</label>
    <input id="title" type="text" class="pure-input-1" placeholder="Title" ng-model="title">
    <label for="slug">Slug</label>
    <input id="slug" type="text" class="pure-input-1" placeholder="Slug" ng-model="slug">
    <label for="content">Content</label>
    <textarea id="content" class="pure-input-1" ng-model="content"></textarea>
    <p>
    	<button type="submit" class="pure-button pure-button-success pure-input-1">Create Task</button>
    </p>
</form>