<div>
    <a href="/tasks/new" title="New Task" class="advanced-options pure-button-success">New Task</a>
</div>
<div class="list-item {{ status(task.closed) }} pure-g-r" ng-repeat="task in tasks">
    <div class="pure-u">
        <img class="list-avatar" alt="{{ task.user.name }}" ng-src="https://www.gravatar.com/avatar/{{ email(task.user.email) }}?s=64" height="64" width="64">
    </div>
    <div class="pure-u">
        <h5 class="list-name">{{ task.title }}</h5>
        <h6 class="list-subject">{{ task.slug }}</h6>
        <p class="list-desc">
            {{ task.content }} 
        </p>
        <div class="pure-u">
            <a href="/tasks/{{ task.slug }}/edit" class="advanced-options pure-button-secondary">Edit Task</a>
            <a href="javascript:void(0)" ng-hide="task.closed" ng-click="closeTask(task.slug)" title="Close" class="advanced-options pure-button-warning">Close Task</a>
            <a href="javascript:void(0)" ng-click="removeTask(task.slug)" title="Remove" class="advanced-options pure-button-error">Remove Task</a>
        </div>
    </div>
</div>